# Virtual environments
venv/
env/
newenv/

# Environment variables (secrets)
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db

# Logs
logs/
*.log

# OS files
.DS_Store
.DS_Store?
Thumbs.db

# IDE files
.vscode/
.idea/

# DeepFace model cache (VERY IMPORTANT)
.deepface/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml